src/main/mule/01-databaseendpoint-start.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1cbea263-3804-4098-9588-0c68d4e01935" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="0712de57-ab8c-4a4b-8e85-792fd8b52038" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="dara2005" database="muletrainingdb" />
	</db:config>
	<flow name="01-databaseendpoint-startFlow" doc:id="42ce5153-7716-46e8-806c-adb997c06250" >
		<http:listener doc:name="Listener" doc:id="e47d4132-0b0b-4ea9-82da-f9f7942d71e1" config-ref="HTTP_Listener_config" path="dbL" outputMimeType="application/json"/>
		<db:select doc:name="Select" doc:id="1352ef19-ae48-4349-ad5a-1ed6d0eff6d9" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM muletrainingdb.product where product_id=:prduct_id]]></db:sql>
			<db:input-parameters ><![CDATA[#[output application/java
---
{
	prduct_id: attributes.queryParams.prduct_id as Number
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="abb16674-2657-4f0c-8bc0-3cb8e74bba2f">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---

	payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
